# ====== Server ======
PORT=3000
ORIGIN=*
NODE_ENV=production

# ====== MongoDB ======
# MongoDB connection string - update credentials and host as needed
MONGODB_URI=mongodb://root:password@mongo:27017/smartgarden?authSource=admin

# ====== MQTT ======
# MQTT_BROKER_URL=1a0d015c28ca4adc98c2b87e2eb883d5.s1.eu.hivemq.cloud
# MQTT_PORT=8883
# MQTT_PROTOCOL=mqtts
MQTT_BROKER_URL=mosquitto
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
MQTT_CLIENT_ID=garden-server
# MQTT_USERNAME=imghostcode
# MQTT_PASSWORD=Test@12345
MQTT_RECONNECT_PERIOD=1000
MQTT_CONNECT_TIMEOUT=4000

# MQTT Topics
MQTT_TOPIC_DATA=smartgarden/area1/node/+/sensors
MQTT_TOPIC_PUMP=smartgarden/area1/node/+/pump
MQTT_LIGHT_DATA_TOPIC="/data/light"
MQTT_WATER_DATA_TOPIC="/data/water"
MQTT_LOGGING_TOPIC="/data/logs"
MQTT_HEALTH_DATA_TOPIC="/data/health"
MQTT_TEMPERATURE_DATA_TOPIC="/data/temperature"
MQTT_HUMIDITY_DATA_TOPIC="/data/humidity"

# If using TLS MQTT (optional), set paths to CA/keys and use mqtts://
MQTT_BROKER_CA=
MQTT_TLS_CERT=
MQTT_TLS_KEY=

# Mock Data Settings
ENABLE_MOCK_WEATHER=true
DEFAULT_WEATHER_TEMP=22.5
DEFAULT_WEATHER_RAIN=2.5

# ====== InfluxDB (for time-series data) ======
INFLUXDB_URL=http://influxdb2:8086
INFLUXDB_TOKEN=MyInitialAdminToken0==
INFLUXDB_ORG=docs
INFLUXDB_BUCKET=garden

NETATMO_BASE_URL=https://app.netatmo.net

# ====== Other Settings ======
MIN_LIGHT_DURATION_MS=60000 # 1 minute
MAX_LIGHT_DURATION_MS=86400000 # 24 hours
MIN_WATER_DURATION_MS=60000 # 1 minute
MAX_WATER_DURATION_MS=86400000 # 24 hours